<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKeyPublic</key>
	<string>2ed5f893c433149f70fbcace59dc152a</string>
	<key>apiKeyPrivate</key>
	<string>e216a366ff3457b31aa30dd6d0771b1c6ca5f7a5</string>
	<key>rootURL</key>
	<string>https://gateway.marvel.com:443</string>
	<key>endpoints</key>
	<dict>
		<key>charactersList</key>
		<string>/v1/public/characters</string>
		<key>character</key>
		<string>/v1/public/characters/{characterId}</string>
		<key>characterComics</key>
		<string>/v1/public/characters/{characterId}/comics</string>
		<key>characterEvents</key>
		<string>/v1/public/characters/{characterId}/events</string>
		<key>characterSeries</key>
		<string>/v1/public/characters/{characterId}/series</string>
		<key>characterStories</key>
		<string>/v1/public/characters/{characterId}/stories</string>
		<key>comicsList</key>
		<string>/v1/public/comics</string>
		<key>comic</key>
		<string>/v1/public/comics/{comicId}</string>
		<key>comicCharacters</key>
		<string>/v1/public/comics/{comicId}/characters</string>
		<key>comicCreators</key>
		<string>/v1/public/comics/{comicId}/creators</string>
		<key>comicEvents</key>
		<string>/v1/public/comics/{comicId}/events</string>
		<key>comicStories</key>
		<string>/v1/public/comics/{comicId}/stories</string>
		<key>creatorsList</key>
		<string>/v1/public/creators</string>
		<key>creator</key>
		<string>/v1/public/creators/{creatorId}</string>
		<key>creatorComics</key>
		<string>/v1/public/creators/{creatorId}/comics</string>
		<key>creatorEvents</key>
		<string>/v1/public/creators/{creatorId}/events</string>
		<key>creatorSeries</key>
		<string>/v1/public/creators/{creatorId}/series</string>
		<key>creatorStories</key>
		<string>/v1/public/creators/{creatorId}/stories</string>
		<key>eventsList</key>
		<string>/v1/public/events</string>
		<key>event</key>
		<string>/v1/public/events/{eventId}</string>
		<key>eventCharacters</key>
		<string>/v1/public/events/{eventId}/characters</string>
		<key>eventComics</key>
		<string>/v1/public/events/{eventId}/comics</string>
		<key>eventCreators</key>
		<string>/v1/public/events/{eventId}/creators</string>
		<key>eventSeries</key>
		<string>/v1/public/events/{eventId}/series</string>
		<key>eventStories</key>
		<string>/v1/public/events/{eventId}/stories</string>
		<key>seriesList</key>
		<string>/v1/public/series</string>
		<key>series</key>
		<string>/v1/public/series/{seriesId}</string>
		<key>seriesCharacters</key>
		<string>/v1/public/series/{seriesId}/characters</string>
		<key>seriesComics</key>
		<string>/v1/public/series/{seriesId}/comics</string>
		<key>seriesCreators</key>
		<string>/v1/public/series/{seriesId}/creators</string>
		<key>seriesEvents</key>
		<string>/v1/public/series/{seriesId}/events</string>
		<key>seriesStories</key>
		<string>/v1/public/series/{seriesId}/stories</string>
		<key>storiesList</key>
		<string>/v1/public/stories</string>
		<key>story</key>
		<string>/v1/public/stories/{storyId}</string>
		<key>storyCharacters</key>
		<string>/v1/public/stories/{storyId}/characters</string>
		<key>storyComics</key>
		<string>/v1/public/stories/{storyId}/comics</string>
		<key>storyCreators</key>
		<string>/v1/public/stories/{storyId}/creators</string>
		<key>storyEvents</key>
		<string>/v1/public/stories/{storyId}/events</string>
		<key>storySeries</key>
		<string>/v1/public/stories/{storyId}/series</string>
	</dict>
</dict>
</plist>
